extends layout

block content
  h4
    | Hello, 
    b#username #{username}
    | !
  p Let us know your MBTI result. 
    | If you don't know your MBTI, get a 
    i
      a(href='https://www.16personalities.com/free-personality-test', target="_blank") free MBTI test
    |  and come back to this page!
  
  div.col-12
    form(action="/mbti-user-input" method="post")
      input#hidden-name(name='username', type='text', value=username, hidden=true)
          
      .row
        label#num-label1.col-sm-12.text-center 50%
        label.text-center.col-sm-3.col-form-label Introversion (I)
        .col-sm-6
          input#range1.form-range(name='input1', type='range', min='0', max='100', value='50')
        label.text-center.col-sm-3.col-form-label Extraversion (E)
      br

      .row
        label#num-label2.col-sm-12.text-center 50%
        label.text-center.col-sm-3.col-form-label Sensing (S)
        .col-sm-6
          input#range2.form-range(name='input2', type='range', min='0', max='100', value='50')
        label.text-center.col-sm-3.col-form-label Intuition (N)
      br

      .row
        label#num-label3.col-sm-12.text-center 50%
        label.text-center.col-sm-3.col-form-label Feeling (F)
        .col-sm-6
          input#range3.form-range(name='input3', type='range', min='0', max='100', value='50')
        label.text-center.col-sm-3.col-form-label Thinking (T)
      br

      .row
        label#num-label4.col-sm-12.text-center 50%
        label.text-center.col-sm-3.col-form-label Judging (J)
        .col-sm-6
          input#range4.form-range(name='input4', type='range', min='0', max='100', value='50')
        label.text-center.col-sm-3.col-form-label Perceiving (P)
      br

      button.btn.btn-primary(type='submit') Submit



  script(src='/javascripts/mbti-result.js')
